.App {
  text-align: center;
}

h1 {
  color: orange !important;
}

.headerView {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 margin-top: 10px;
 justify-content: center;
 align-items: center;
}

.inputView{
 width: 200px;
 height: 40px;
 border: 1px solid orange;
 margin-left: 30px;
 padding-left: 10px;
 margin-top: 4px;
}

.tableDate{
  background-color: orange !important;
}

.contentBgColor{
  background-color: #ADD8E6 !important;
}

.buttonView{
  width: 100px;
  height: 40px;
  background-color: orange !important;
  border: 1px solid orange !important;
  margin-left: 10px;
  margin-top: 4px;
}

.tableView {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.table-container {
  width: 25%; /* Adjust the width as needed */
  padding: 2px;
  display: inline-block; /* Ensures that it is horizontally aligned */
}

@media (max-width: 768px) {
  .table-container {
    width: 100%; /* Allow containers to take full width on smaller screens */
  }
}

.spinnerView {
  margin-left: 20px;
}
